In [2]:
import numpy as np 
import pandas as pd 
from matplotlib import pyplot as plt 
from astropy.io import fits

In [9]:
data = fits.open('../data/binaries/LMXRB_BH.fits')[1].data
data = pd.DataFrame(data)
data = data[['A_NAME' ,'A_RA' ,'A_DEC' ,'A_DATABASE_TABLE' ,'A_OBSERVATORY' , 'B_NAME' ,'B_RA' , 'B_DEC' ,'XOFFSET_']]
display(data)
display(data.describe())

,A_NAME,A_RA,A_DEC,A_DATABASE_TABLE,A_OBSERVATORY,B_NAME,B_RA,B_DEC,XOFFSET_
0,V518 PER,65.428333,32.907500,RITTERLMXB,,2CXO J042142.7+325426,65.428058,32.907468,0.014
1,CJ0422+32,65.427856,32.907516,XRBCAT,,2CXO J042142.7+325426,65.428058,32.907468,0.011
2,1WGA J0421.7+3254,65.428333,32.909139,WGACAT,ROSAT,2CXO J042142.7+325426,65.428058,32.907468,0.101
3,V616 MON,95.685000,-0.345833,RITTERLMXB,,2CXO J062243.8-002048,95.682678,-0.346679,0.148
4,1A 0620-00,95.685000,-0.345833,INTREFCAT,INTEGRAL,2CXO J062243.8-002048,95.682678,-0.346679,0.148
...,...,...,...,...,...,...,...,...,...
118,XTE J1908+094,287.221250,9.384722,INTREFCAT,INTEGRAL,2CXO J190853.0+092305,287.221128,9.384731,0.007
119,XTE J1908+094,287.221250,9.384722,INTREFCAT,INTEGRAL,2CXO J190853.4+092304X,287.222627,9.384523,0.082
120,1WGA J2024.0+3351,306.015833,33.866556,WGACAT,ROSAT,2CXO J202403.8+335201,306.015920,33.867218,0.040
121,V404 CYG,306.015833,33.867500,RITTERLMXB,,2CXO J202403.8+335201,306.015920,33.867218,0.017
122,G2023+338,306.015508,33.867701,XRBCAT,,2CXO J202403.8+335201,306.015920,33.867218,0.035

             A_RA       A_DEC        B_RA       B_DEC    XOFFSET_
count  123.000000  123.000000  123.000000  123.000000  123.000000
mean   199.757952  -14.143056  199.757779  -14.143229    0.075813
std     63.094200   24.434103   63.094422   24.434139    0.065259
min     65.427856  -64.734722   65.428058  -64.735443    0.002000
25%    151.309383  -29.745278  151.308667  -29.745287    0.015000
50%    161.958333   -7.758287  161.959737   -7.756501    0.054000
75%    265.978333   -0.345833  265.978886   -0.346679    0.135000
max    306.015833   48.036944  306.015920   48.036769    0.190000

In [10]:
src_names = pd.DataFrame(np.unique(data['A_NAME']) , columns=['src_name'])
ch_src_names = pd.DataFrame(np.unique(data['B_NAME']) , columns=['ch_src_name'])
display(src_names)
display(ch_src_names)

                 src_name
0   1740-2943
1   1758-2544
2   1A 0620-00
3   1E 1740.7-2942
4   1WGA J0421.7+3254
5   1WGA J0622.7-0020
6   1WGA J1743.9-2944
7   1WGA J1801.2-2544
8   1WGA J2024.0+3351
9   4U1630-472
10  A0620-003
11  BW CIR
12  CEN X-2
13  CJ0422+32
14  CXOU J100506.7-074433
15  CXOU J100508.7-074443
16  CXOU J100510.0-074529
17  CXOU J100510.9-074533
18  CXOU J100514.2-074233
19  CXOU J100515.4-074254
20  CXOU J100516.2-074235
21  CXOU J100516.5-074207
22  CXOU J100517.1-074217
23  CXOU J100518.5-074138
24  E1740.7-2942
25  G2023+338
26  GINGA 1354-645
27  GR1758-258
28  GRO J1655-40
29  GRS 1758-258
30  GS 1354-645
31  GX 339-4
32  GX339-4
33  IGR J17091-3624
34  IGR J17464-3213
35  J1047+1234
36  J1242+3232
37  J1650-4957
38  J1659-1515
39  J1745-2900
40  KV UMA
41  SAX J1819.3-2525
42  SAXWFC J1819.4-2524.0
43  V1033 SCO
44  V381 NOR
45  V404 CYG
46  V4641 SGR
47  V518 PER
48  V616 MON
49  V821 ARA
50  XTE J1550-564
51  XTE J1650-500
52  XTE J1859+226
53  XTE J1908+094

               ch_src_name
0   2CXO J042142.7+325426
1   2CXO J062243.8-002048
2   2CXO J062244.5-002044
3   2CXO J100506.6-074440
4   2CXO J100506.7-074434
..                     ...
76  2CXO J181922.3-252405
77  2CXO J185841.4+223929
78  2CXO J190853.0+092305
79  2CXO J190853.4+092304X
80  2CXO J202403.8+335201

[81 rows x 1 columns]